<a href="https://colab.research.google.com/github/AadhilVarghese/Python-Basics/blob/main/list_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=[1,"AADHIL",18,"15-11-2004","MALA"]
print(x)

[1, 'AADHIL', 18, '15-11-2004', 'MALA']

In [3]:
x[1]

'AADHIL'

In [4]:
x[4]

'MALA'

In [5]:
x[3]

'15-11-2004'

In [7]:
x.append("thrissur")
print(x)

[1, 'AADHIL', 18, '15-11-2004', 'MALA', 'thrissur']

In [8]:
x.insert(1,"kerala")
print(x)

[1, 'kerala', 'AADHIL', 18, '15-11-2004', 'MALA', 'thrissur']

In [15]:
marks=int(input("enter your mark"))
if marks >=50:
  print("pass")
else:
  print("fail")

enter your mark62
pass

In [21]:
x=["ponna","velu","appoos","unni","don"]
print(x)
y=input('enter a name')
x.append(y)
print(x)

['ponna', 'velu', 'appoos', 'unni', 'don']
enter a nameraphy
['ponna', 'velu', 'appoos', 'unni', 'don', 'raphy']

In [22]:
x.insert(3,"aadhil")
print(x)

['ponna', 'velu', 'appoos', 'aadhil', 'unni', 'don', 'raphy']

In [27]:
x=["ponna","velu","appoos","unni","don"]
print(x)
y=input('enter a name')
x.insert(3,y)
print(x)

['ponna', 'velu', 'appoos', 'unni', 'don']
enter a nameaadhil
['ponna', 'velu', 'appoos', 'aadhil', 'unni', 'don']

In [30]:
x=["ponna","velu","appoos","unni","don"]
print(x)
y=input('enter a name')
x.insert(int(input("enter a number")),y)
print(x)

['ponna', 'velu', 'appoos', 'unni', 'don']
enter a namehadhi
enter a number3
['ponna', 'velu', 'appoos', 'hadhi', 'unni', 'don']